{% extends 'account/base.html' %}

{% block content %}
        <div class="col-md-6 bg-white pt-5">
            <div class="sign-in-from">
                <div class="container-fluid">
                    <h1 class="mb-0">Reset Password</h1><hr><br>
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="row g-3 mb-3">

                            {{ form.as_p }}
                        </fieldset>
                        <div class="mb-3">
                            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}