{% extends 'base.html' %}
{% load static %}
{% block content %}
{#    <div class="right-sidebar-mini right-sidebar">#}
{#        <div class="right-sidebar-panel p-0">#}
{#            <div class="iq-card shadow-none">#}
{#                 <div class="iq-card-body p-0">#}
{#                    <div class="media-height p-3">#}
{#                        {% for member in members %}#}
{#                            <div class="media align-items-center mb-4">#}
{#                                <div class="iq-profile-avatar status-away">#}
{#                                    <img class="rounded-circle avatar-50" src="{{ member.member.profile.profile_pix.url }}" alt="">#}
{#                                </div>#}
{#                                <div class="media-body ml-3">#}
{#                                  <h6 class="mb-0"><a href="#">{{member.member.first_name}} {{member.member.last_name}} {{member.member.username}}</a></h6>#}
{#                                  <p class="mb-0">#}
{#                                       {{member.is_admin}}#}
{#                                      {% if member.is_admin %}#}
{#                                          Group Admin#}
{#                                      {% else %}#}
{#                                          Group Member#}
{#                                      {% endif %}#}
{#                                  </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                         <div class="right-sidebar-toggle bg-primary mt-3">#}
{#                            <i class="ri-arrow-left-line side-left-icon"></i>#}
{#                            <i class="ri-arrow-right-line side-right-icon"><span class="ml-3 d-inline-block">Close Menu</span></i>#}
{#                         </div>#}
{#                    </div>#}
{#                 </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!---header--->
     <div class="header-for-bg">
        <div class="background-header position-relative">
            <img src="{{ group.group_image.url }}" class="img-fluid w-100 rounded rounded" alt="header-bg">
            <div class="title-on-header">
              <div class="data-block">
                 <h2>{{ group.name }}</h2>
              </div>
           </div>
        </div>
    </div>
    <!---end header--->
    <div class="row" style="margin-top: 100px;">
        <div class="col-lg-12 row m-0 p-0">
            <div class="col-sm-12">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}

                        <form class="d-flex align-items-center mt-3" action="{% url 'poll:vote' poll.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        <fieldset>
                            <p><legend>{{ poll.title }}</legend></p>

                            <div>
                              {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                                {% for choice in poll.choice_set.all %}
                                    {% if choice.choice_text  %}
                                    <input type="radio" id="id-{{ choice }}" name="poll.choice_set" value="{{ choice.id }}">
                                    <label for="id-{{ choice }}">{{ choice.choice_text }}</label><br>
                                    {% endif %}
                                {% endfor %}
                            </div>



                           <input type="submit" class="btn btn-success" value="Vote"></fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}