{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="right-sidebar-mini right-sidebar">
        <div class="right-sidebar-panel p-0">
           <div class="iq-card shadow-none">
              <div class="iq-card-body p-0">
                 <div class="media-height p-3">
{#                    {% for member in members %}#}
                    <div class="media align-items-center mb-4">
                       <div class="iq-profile-avatar status-away">
                          <img class="rounded-circle avatar-50" src="{## {{ member.member.profile.profile_pix.url }} #}" alt="">
                       </div>
                       <div class="media-body ml-3">
                          <h6 class="mb-0"><a href="#">Member Username</a></h6>
                          <p class="mb-0">Admin</p>
                       </div>
                    </div>
{#                    {% endfor %}#}
                     <div class="right-sidebar-toggle bg-primary mt-3">
                        <i class="ri-arrow-left-line side-left-icon"></i>
                        <i class="ri-arrow-right-line side-right-icon"><span class="ml-3 d-inline-block">Close Menu</span></i>
                     </div>
                </div>
              </div>
           </div>
        </div>
    </div>
    <!---header--->
     <div class="header-for-bg">
        <div class="background-header position-relative">
           <img src="{{ group.group_image.url }}" class="img-fluid w-100 rounded rounded" alt="header-bg">
           <div class="title-on-header">
              <div class="data-block">
                 <h2>{{ group.name }}</h2>
              </div>
           </div>
        </div>
     </div>
    <!-- end header --->

{% endblock %}