{% extends 'base.html' %}
{% block content %}
    <div class="row">
      <div class="col-sm-12">
         <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
               <h4 class="card-title">Notifications</h4>
            </div>
         </div>
      </div>
      <div class="col-sm-12">
          <!--for loop for each notification -->
         {% for notifi in unread %}
            <div class="iq-card">
            <div class="iq-card-body">
               <ul class="notification-list m-0 p-0">
                  <li class="d-flex align-items-center">
                     <div class="user-img img-fluid"><img src="#" alt="story-img" class="rounded-circle avatar-40"></div>
                     <div class="media-support-info ml-3">
                        <h6>Paige Turner Posted in Community <strong>{{notifi.group}}</strong></h6>
                        <small class="mb-0">{{notifi.time_created}}</small>
                         <p class="mb-0">*<b>{{notifi.notification_type}}</b></p>
                     </div>
                      {% if notifi.notification_type != 'like' %}
                      <div class="d-flex align-items-center">
                        <a href="javascript:void();" class="mr-3 iq-notify iq-bg-primary rounded"><i class="ri-award-line"></i></a>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                           <div class="dropdown">
                              <span class="dropdown-toggle" data-toggle="dropdown">
                              <i class="ri-more-fill"></i>
                              </span>
                              <div class="dropdown-menu dropdown-menu-right">
                                  {% if notifi.notification_type == 'group_request' %}
                                  <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Add</a>
                                  <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Ignore</a>
                                  {% endif %}
                                  {% if notifi.notification_type == 'invite' %}
                                  <a class="btn btn-success" href="#">Yes</a>
                                  <a class="btn btn-danger" href="#">No</a>
                                  <a class="btn btn-primary" href="#">Maybe</a>
                                  {% endif %}
                              </div>
                           </div>
                        </div>
                      </div>
                      {% endif %}
                  </li>
               </ul>
            </div>
         </div>
         {% endfor %}
           <!-- end for loop for each notification -->
      </div>
    </div>
{% endblock %}