{% extends 'base.html' %}
{% block content %}
    <div class="row">
      <div class="col-sm-12">
         <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
               <h4 class="card-title">Notifications</h4>
            </div>
         </div>
      </div>
      <div class="col-sm-12">
          <!--for loop for each notification -->
         {% for notifi in unread %}
            <div class="iq-card">
            <div class="iq-card-body">
               <ul class="notification-list m-0 p-0">
                  <li class="d-flex align-items-center">
                     <div class="user-img img-fluid"><img src="#" alt="story-img" class="rounded-circle avatar-40"></div>
                     <div class="media-support-info ml-3">
                         {% if notifi.notification_type == 'Event Invite' %}
                         <h6><strong>{{notifi.group}}</strong>  Paige Turner Posted in Community   *<b>{{notifi.notification_type}}</b></h6>
                        <p class="mb-0">{{notifi.time_created}}</p>
                                 <div class="btn-group m-1">
                                    {% if notifi.event.pk %}
                                  <form action="{% url 'yes-members' notifi.group.pk  notifi.event.pk %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-success mr-5" type="submit">Yes</button>
                                  </form>
                                  <form action="{% url 'no-members' notifi.group.pk  notifi.event.pk %}" method="post">
                                    {% csrf_token %}
                                    <button  class="btn btn-danger mr-5" type="submit">No</button>
                                  </form>
                                  <form action="{% url "maybe-members" notifi.group.pk notifi.event.pk %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-primary mr-5" type="submit">Maybe</button>
                                  </form>
                                 </div>
                                 {% else %}
                                 <div class="alert alert-danger alert-dismissible" role="alert">{{notifi.event}}</div>
                                 {% endif %}
                        {% elif notifi.notification_type == 'Like' %}
                           <h6><strong>{{notifi.group}}</strong>  Paige Turner Posted in Community   *<b>{{notifi.notification_type}}</b></h6>
                           <p class="mb-0">{{notifi.time_created}}</p>
                           <div class="dropdown-menu dropdown-menu-right">
                                  {% elif notifi.notification_type == 'Group Request' %}
                                  <div class="btn-group">
                                    <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Add</a>
                                  <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Ignore</a>
                                  </div>
                                  {% endif %}
                           </div>
                      </div>
                  </li>
               </ul>
            </div>
         </div>
         {% endfor %}
           <!-- end for loop for each notification -->
      </div>
    </div>
    <script>
    </script>
{% endblock %}